@font-face {
    font-family: 'Criteria CF';
    src: url('CriteriaCF-Bold.eot');
    src: url('CriteriaCF-Bold.eot?#iefix') format('embedded-opentype'),
        url('CriteriaCF-Bold.woff2') format('woff2'),
        url('CriteriaCF-Bold.woff') format('woff'),
        url('CriteriaCF-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Criteria CF';
    src: url('CriteriaCF-DemiBoldOblique.eot');
    src: url('CriteriaCF-DemiBoldOblique.eot?#iefix') format('embedded-opentype'),
        url('CriteriaCF-DemiBoldOblique.woff2') format('woff2'),
        url('CriteriaCF-DemiBoldOblique.woff') format('woff'),
        url('CriteriaCF-DemiBoldOblique.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Criteria CF';
    src: url('CriteriaCF-BoldOblique.eot');
    src: url('CriteriaCF-BoldOblique.eot?#iefix') format('embedded-opentype'),
        url('CriteriaCF-BoldOblique.woff2') format('woff2'),
        url('CriteriaCF-BoldOblique.woff') format('woff'),
        url('CriteriaCF-BoldOblique.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Criteria CF';
    src: url('CriteriaCF-LightOblique.eot');
    src: url('CriteriaCF-LightOblique.eot?#iefix') format('embedded-opentype'),
        url('CriteriaCF-LightOblique.woff2') format('woff2'),
        url('CriteriaCF-LightOblique.woff') format('woff'),
        url('CriteriaCF-LightOblique.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Criteria CF';
    src: url('CriteriaCF-Medium.eot');
    src: url('CriteriaCF-Medium.eot?#iefix') format('embedded-opentype'),
        url('CriteriaCF-Medium.woff2') format('woff2'),
        url('CriteriaCF-Medium.woff') format('woff'),
        url('CriteriaCF-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Criteria CF';
    src: url('CriteriaCF-Regular.eot');
    src: url('CriteriaCF-Regular.eot?#iefix') format('embedded-opentype'),
        url('CriteriaCF-Regular.woff2') format('woff2'),
        url('CriteriaCF-Regular.woff') format('woff'),
        url('CriteriaCF-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Criteria CF';
    src: url('CriteriaCF-ExtraLightOblique.eot');
    src: url('CriteriaCF-ExtraLightOblique.eot?#iefix') format('embedded-opentype'),
        url('CriteriaCF-ExtraLightOblique.woff2') format('woff2'),
        url('CriteriaCF-ExtraLightOblique.woff') format('woff'),
        url('CriteriaCF-ExtraLightOblique.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Criteria CF';
    src: url('CriteriaCF-ExtraBold.eot');
    src: url('CriteriaCF-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('CriteriaCF-ExtraBold.woff2') format('woff2'),
        url('CriteriaCF-ExtraBold.woff') format('woff'),
        url('CriteriaCF-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Criteria CF';
    src: url('CriteriaCF-ExtraLight.eot');
    src: url('CriteriaCF-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('CriteriaCF-ExtraLight.woff2') format('woff2'),
        url('CriteriaCF-ExtraLight.woff') format('woff'),
        url('CriteriaCF-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Criteria CF';
    src: url('CriteriaCF-Light.eot');
    src: url('CriteriaCF-Light.eot?#iefix') format('embedded-opentype'),
        url('CriteriaCF-Light.woff2') format('woff2'),
        url('CriteriaCF-Light.woff') format('woff'),
        url('CriteriaCF-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Criteria CF';
    src: url('CriteriaCF-MediumOblique.eot');
    src: url('CriteriaCF-MediumOblique.eot?#iefix') format('embedded-opentype'),
        url('CriteriaCF-MediumOblique.woff2') format('woff2'),
        url('CriteriaCF-MediumOblique.woff') format('woff'),
        url('CriteriaCF-MediumOblique.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Criteria CF';
    src: url('CriteriaCF-DemiBold.eot');
    src: url('CriteriaCF-DemiBold.eot?#iefix') format('embedded-opentype'),
        url('CriteriaCF-DemiBold.woff2') format('woff2'),
        url('CriteriaCF-DemiBold.woff') format('woff'),
        url('CriteriaCF-DemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Criteria CF';
    src: url('CriteriaCF-Oblique.eot');
    src: url('CriteriaCF-Oblique.eot?#iefix') format('embedded-opentype'),
        url('CriteriaCF-Oblique.woff2') format('woff2'),
        url('CriteriaCF-Oblique.woff') format('woff'),
        url('CriteriaCF-Oblique.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Criteria CF';
    src: url('CriteriaCFExtraBold-Oblique.eot');
    src: url('CriteriaCFExtraBold-Oblique.eot?#iefix') format('embedded-opentype'),
        url('CriteriaCFExtraBold-Oblique.woff2') format('woff2'),
        url('CriteriaCFExtraBold-Oblique.woff') format('woff'),
        url('CriteriaCFExtraBold-Oblique.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Criteria CF';
    src: url('CriteriaCF-ThinOblique.eot');
    src: url('CriteriaCF-ThinOblique.eot?#iefix') format('embedded-opentype'),
        url('CriteriaCF-ThinOblique.woff2') format('woff2'),
        url('CriteriaCF-ThinOblique.woff') format('woff'),
        url('CriteriaCF-ThinOblique.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Criteria CF Super';
    src: url('CriteriaCF-SuperOblique.eot');
    src: url('CriteriaCF-SuperOblique.eot?#iefix') format('embedded-opentype'),
        url('CriteriaCF-SuperOblique.woff2') format('woff2'),
        url('CriteriaCF-SuperOblique.woff') format('woff'),
        url('CriteriaCF-SuperOblique.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Criteria CF Super';
    src: url('CriteriaCF-Super.eot');
    src: url('CriteriaCF-Super.eot?#iefix') format('embedded-opentype'),
        url('CriteriaCF-Super.woff2') format('woff2'),
        url('CriteriaCF-Super.woff') format('woff'),
        url('CriteriaCF-Super.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

